h1{

     Width:656px;
    Height:237px;
    Top:356px;
    Left:439px;
    margin-left: 13%;
    margin-top: 8%;
   color: #47668E;
    
}
p{
    position: absolute;
    width: 1100px;
    height: 744px;
    left: 646px;
    top: 210px;
}